@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6 rem;
	color: $font-color;
	background-color: $background-color;
}

.wrapper {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
	height: 100%;
}

.logo {
	margin-left: 0.5em;
	font-size: 1.6rem;
	font-family: 'Orbitron', sans-serif;
	color: $font-color;
	text-decoration: none;
	justify-items: center;
	transition: color 0.5s;
	&__text--blue {
		color: $main-color;
	}
	p {
		display: inline-block;
	}
}

//NAV

.nav {
	position: fixed;
	width: 100vw;
	top: 0;
	z-index: 100;
}

.nav-container {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: $background-color;
	box-shadow: 0px 4px 3px rgba(29, 92, 255, 0.5);
	z-index: 110;
	.wrapper {
		display: flex;
		height: 50px;
		align-items: center;
		justify-content: space-between;
		z-index: 100;
	}
}

.nav__link {
	display: inline-block;
	a {
		width: 100%;
		height: 100%;
		color: $font-color;
		transition: color 0.5s;
		text-decoration: none;
		&:hover {
			color: $main-color;
		}
	}
}

.nav__list-desktop {
	display: none;
	margin-right: 2em;
	flex-grow: 1;
	flex-direction: row-reverse;

	.nav__link {
		font-size: 2.5rem;
		a {
			display: flex;
			padding: 0.5em;
			justify-content: center;
			align-items: center;
		}
	}
}

.nav__list-mobile {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	font-size: 3rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $background-color;

	transform: translateX(-102%);
	transition: transform 0.5s;
	z-index: 100;

	&:first-child {
		margin-top: 25px;
	}

	&.active {
		display: flex;
		transform: translateX(0);
	}
	.nav__link {
		width: 200px;
		height: 100px;
		a {
			display: flex;
			padding: 0.5em;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}
}

.hamburger {
	margin-right: 0.5em;
	z-index: 110;
	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: $font-color;
		z-index: 110;
	}
}

.hamburger.is-active .hamburger {
	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: $font-color;
	}
}
// HEADER

.header {
	position: relative;
	height: 200px;
	width: 100%;
	margin-top: 50px;
	background-image: url('../img/concrete.jpg');
	background-size: cover;
	z-index: 0;
	&::before {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 1;
		content: '';
	}
}

.header__text {
	position: relative;
	height: 100%;
	width: 100%;
	color: $font-color2;
	z-index: 10;
	h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		padding: 0.8em;
		font-size: 2.2rem;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}

// MAIN

.section-title {
	position: relative;
	margin: 1em 0em 1em 0em;
	font-size: 2.5rem;
	text-align: center;
	font-weight: normal;
	&::before {
		position: absolute;
		left: 50%;
		bottom: -5px;
		height: 3px;
		width: 90px;
		background-color: $main-color;
		transform: translateX(-50%);
		content: '';
	}
}

.section-info {
	margin: 0.5em 0.5em;
	font-size: 1.4rem;
	text-align: center;
	line-height: 1.5em;
	span {
		font-weight: bold;
	}
}
// O MNIE

.features-box {
	display: flex;
	margin: 4em 0 4em 0;
	font-size: 1.2rem;
	justify-content: space-evenly;
	align-items: flex-start;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
}

.feature {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	.feature__title {
		width: 170px;
		margin: 0.5em 0;
		font-weight: bold;
	}
	.feature__description {
		margin: 0.3em 0;
		width: 170px;
	}
	img {
		height: 70px;
		filter: drop-shadow(5px 5px 2px $main-color);
		fill: $main-color;
	}
}

// OFERTA
.offer {
	position: relative;
	height: 100%;
	width: 100%;
	background-image: url('../img/buidling_flats.jpg');
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;

	&::before {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 1;
		content: '';
	}
	h2 {
		margin-bottom: 1.5em;
	}
}

.offer-text {
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	color: $font-color2;
	z-index: 10;

	.offer-text__heading {
		margin: 0em 20px;
		font-size: 1.8rem;
		font-weight: normal;
	}
	.offer-text__description {
		margin: 0.5em 20px 2em 20px;
		font-size: 1.5rem;
		line-height: 1.6em;
		text-align: justify;
	}
}

// CO SPRAWDZAMY

.what-check {
	&__items-conteiner {
		display: flex;
		margin: 3em 2em;
		row-gap: 20px;
		column-gap: 20px;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
	}

	&__item {
		position: relative;
		margin: 0 0;
		height: 200px;
		width: 150px;
		font-size: 1.5rem;
		border-radius: 10px;
		perspective: 500px;
		&:hover &-text {
			opacity: 0;
		}
		&:hover .what-check__list {
			opacity: 1;
		}
		&:hover span {
			opacity: 0;
		}
		&-text {
			display: flex;
			position: absolute;
overflow: hidden;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-image: url('../img/posadzki.jpg');
			background-size: cover;
			border-radius: 10px;
			justify-content: center;
			align-items: center;
			transform: rotateX(0deg);
			transition: 0.5s linear;
			z-index: 10;
		
			&.first {
				background-image: url('../img/tynki.jpg');
				background-position: 30% 50%;
			}
			&.third {
				background-image: url('../img/drzwi.png');
			}
			&.fourth {
				background-image: url('../img/inst_el.jpg');
			}
			&.fifth {
				background-image: url('../img/fan.jpg');
				background-position: 50% 50%;
			}
			&.sixth {
				background-image: url('../img/balkon.jpg');
				background-position: 50% 50%;
			}
			&.seventh {
				background-image: url('../img/picture.jpg');
			}
			&.eighth {
				background-image: url('../img/inne_aspekty.jpg');
				background-position: 60% 50%;
					&::before {
					background-color: rgba(0, 0, 0, 0.6);
				}
				span{
					color: white;
					font-weight: normal;
				}
			}
			&::before {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(255, 255, 255, 0.6);
				z-index: -1;
				content: '';
			}
		}
	}
	span {
		position: absolute;
		top: 50%;
		right: 50%;
		width: 100%;
		padding: 1em 0.5em;
		text-align: center;
		font-weight: bold;
		transform: translate(50%, -50%);
		transition: 0.5s linear;
		z-index: 100;
		
	}

	&__list {
		position: absolute;
		display: flex;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 0.5em 2em;
		opacity: 0;
		border-radius: 10px;
		align-items: center;
		font-size: 1.3rem;
		line-height: 1.5em;
		background: linear-gradient(225.52deg, #5fb0fb 0.89%, #042352 100%), #ffffff;
		transform: rotateX(0deg);
		transition: 0.5s linear;
		z-index: 4;

		ul {
			color: $font-color2;
		}
	}
}

// PRICES

.prices {
	position: relative;
	width: 100%;
	margin-top: 50px;
	color: $font-color2;
	background-image: url('../img/concrete.jpg');
	background-size: cover;
	z-index: 0;

	&::before {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 1;
		content: '';
	}
	h2 {
		padding-top: 1em;
		margin-bottom: 0.5em;
		z-index: 10;
	}
	.wrapper {
		display: flex;
		height: auto;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
}

.price-card {
	position: relative;
	display: flex;
	height: 350px;
	width: 250px;
	margin: 2em 2em;
	padding: 1em;
	flex-direction: column;
	align-self: center;
	justify-content: space-around;
	border-radius: 10px;
	color: $font-color2;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 10;
	&:last-child {
		margin-bottom: 4em;
	}
	h3 {
		font-size: 1.8rem;
		font-weight: normal;
		text-align: center;
		z-index: 10;
	}
	&__list {
		font-size: 1.3rem;
		line-height: 1.4em;
		li {
			padding: 0.7em 0;
			text-align: center;
			&::marker {
				content: none;
			}
		}
	}
	&__cost {
		font-size: 1.8rem;
		text-align: center;
		font-weight: bold;
	}
}

.btn {
	position: absolute;
	bottom: 15%;
	left: 100px;
	width: 300px;
	height: 80px;
	font-size: 1.5rem;
	font-weight: bold;
	color: $font-color2;
	background: $main-color;
	border: 4px solid $font-color2;
	border-radius: 50px;
	cursor: pointer;
	z-index: 10;
	&:hover {
		color: $main-color;
		background-color: $font-color2;
		border: 4px solid $main-color;
	}
}

.contact {
	&__data {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		font-size: 1.5rem;
		margin-bottom: 2em;
		&-item {
			display: flex;
			flex-direction: column;
			padding: 0.5em;
			justify-content: center;
			align-items: center;
			column-gap: 20px;
			div {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 0.5em;
			}
		}
		i {
			margin-right: 0.5em;
			border-radius: 50%;
			color: $main-color;
		}
		span {
			color: $main-color;
			font-weight: bold;
		}
		a,
		p {
			text-decoration: none;
			color: $font-color;
		}
	}
}

.footer {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px -4px 3px rgba(29, 92, 255, 0.5);
	font-size: 2rem;
}

@keyframes text-appearance--right {
	0% {
		opacity: 0;
		transform: translateX(40%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}
@keyframes text-appearance--left {
	0% {
		opacity: 0;
		transform: translateX(-40%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

@import './small';
@import './medium';
@import './large';
@import './non-standard';
