@media (min-width: 992px) and (max-width: 1152px) {
	.what-check {
		&__items-conteiner {
			column-gap: 50px;
			margin: 3em 1em;
		}
		&__item {
			height: 250px;
			width: 200px;
		}
	}
}

@media (min-width: 885px) and (max-width: 992px) {
	.what-check {
		&__items-conteiner {
			column-gap: 30px;
			margin: 3em 3em;
		}
		&__item {
			height: 220px;
			width: 180px;
		}
	}
}
@media (min-width: 1160px) {
.price-card {
	flex-direction: column;
	align-self: center;
	height: 420px;
	width: 320px;
	margin: 4em 3em;
	h3 {
		font-size: 2.2rem;
	}
	&__list {
		font-size: 1.7rem;
		li {
			padding: 0.5em 0;
		}
	}
	&__cost {
		font-size: 2.2rem;
	}
}
}