@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 50px;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6 rem;
	color: $font-color;
	background-color: $background-color;
}

.wrapper {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
	height: 100%;
}

.logo {
	margin-left: 0.5em;
	font-size: 1.6rem;
	font-family: 'Orbitron', sans-serif;
	color: $font-color;
	text-decoration: none;
	justify-items: center;
	transition: color 0.5s;
	&__text--blue {
		color: $main-color;
	}
	p {
		display: inline-block;
	}
}

.to-show {
	position: relative;
	z-index: 9;
	opacity: 0;
	transform: translateY(100px);
	transition: 1s;
}

.show-it {
	opacity: 1;
	transform: translateY(0px);
}

//NAV

.nav {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100vw;
}

.nav-container {
	position: absolute;
	top: 0;
	z-index: 110;
	width: 100%;
	background-color: $background-color;
	box-shadow: 0px 4px 3px rgba(29, 92, 255, 0.5);
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 100;
		height: 50px;
	}
}

.nav__link {
	display: inline-block;
	a {
		width: 100%;
		height: 100%;
		color: $font-color;
		transition: color 0.5s;
		text-decoration: none;
		&:hover {
			color: $main-color;
		}
	}
}

.nav__list-mobile {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	font-size: 2.5rem;
	flex-direction: column;
	background-color: $background-color;
	transform: translateX(-102%);
	transition: transform 0.5s;

	&:first-child {
		margin-top: 25px;
	}

	&.active {
		display: flex;
		transform: translateX(0);
	}
	.nav__link {
		width: 200px;
		height: 100px;
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: 0.5em;
		}
	}
}

.nav__list-desktop {
	display: none;
	flex-grow: 1;
	flex-direction: row-reverse;
	margin-right: 2em;

	.nav__link {
		font-size: 2.5rem;
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0.5em;
		}
	}
}

.hamburger {
	z-index: 110;
	margin-right: 0.5em;
	&-inner,
	&-inner::before,
	&-inner::after {
		z-index: 110;
		background-color: $font-color;
	}
}

.hamburger.is-active .hamburger {
	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: $font-color;
	}
}
// HEADER

.header {
	position: relative;
	z-index: 0;
	height: 200px;
	width: 100%;
	margin-top: 50px;
	background-image: url('../img/concrete_640.jpg');
	background-size: cover;
	&::before {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		content: '';
	}
}

.header__text {
	position: relative;
	z-index: 10;
	height: 100%;
	width: 100%;
	color: $font-color2;
	h1 {
		position: absolute;
		text-align: center;
		top: 50%;
		left: 50%;
		width: 100%;
		padding: 0.8em;
		font-size: 2.2rem;
		transform: translate(-50%, -50%);
	}
}

// MAIN

.section-title {
	position: relative;
	margin: 1em 0em 1em 0em;
	font-size: 2.2rem;
	text-align: center;
	font-weight: normal;
	&::before {
		position: absolute;
		left: 50%;
		bottom: -5px;
		height: 3px;
		width: 80px;
		background-color: $main-color;
		transform: translateX(-50%);
		content: '';
	}
}

.section-info {
	margin: 0em 0.5em 0.5em;
	font-size: 1.4rem;
	text-align: center;
	line-height: 1.5em;
	span {
		font-weight: bold;
	}
}
// O MNIE

.features-box {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	column-gap: 10px;
	row-gap: 20px;
	flex-wrap: wrap;
	margin: 3em 0.3em;
	font-size: 1.2rem;
}

.feature {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	.feature__title {
		width: 150px;
		margin: 0.5em 0;
		font-weight: bold;
	}
	.feature__description {
		margin: 0.3em 0;
		width: 150px;
	}
	img {
		height: 70px;
		filter: drop-shadow(5px 5px 2px $main-color);
		fill: $main-color;
	}
}

// OFERTA
.offer {
	position: relative;
	z-index: 0;
	height: 100%;
	width: 100%;
	background-image: url('../img/block_640.jpg');
	background-size: cover;
	background-attachment: fixed;

	&::before {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		content: '';
	}
	h2 {
		margin-bottom: 1.5em;
	}
}

.offer-text {
	position: relative;
	display: flex;
	flex-direction: column;
	z-index: 10;
	height: 100%;
	width: 100%;
	color: $font-color2;

	&__heading {
		margin: 0em 10px;
		font-size: 1.8rem;
		font-weight: normal;
	}
	&__description {
		margin: 0.5em 10px 2em 10px;
		font-size: 1.5rem;
		line-height: 1.6em;
		// text-align: justify;
	}
}

// CO SPRAWDZAMY

.what-check {
	&__items-conteiner {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		row-gap: 20px;
		column-gap: 20px;
		flex-wrap: wrap;
		margin: 3em 2em;
	}

	&__item {
		position: relative;
		height: 200px;
		width: 150px;
		margin: 0 0;
		perspective: 500px;
		font-size: 1.5rem;
		border-radius: 10px;
		&:hover &-text {
			opacity: 0;
		}
		&:hover .what-check__list {
			opacity: 1;
		}
		&:hover span {
			opacity: 0;
		}
		&:hover .icon-tabler.invisible{
			opacity: 0;
		}
		&-text {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			z-index: 10;
			overflow: hidden;
			background-image: url('../img/flooring_640.jpg');
			background-size: cover;
			border-radius: 10px;
			transform: rotateX(0deg);
			transition: 0.5s linear;

			&.first {
				background-image: url('../img/plaster_640.jpg');
				background-position: 30% 50%;
			}
			&.third {
				background-image: url('../img/window_640.jpg');
				background-position: 30% 50%;
			}
			&.fourth {
				background-image: url('../img/electricity_640.jpg');
			}
			&.fifth {
				background-image: url('../img/fan_640.jpg');
				background-position: 50% 50%;
			}
			&.sixth {
				background-image: url('../img/balcony_640.jpg');
				background-position: 50% 50%;
			}
			&.seventh {
				background-image: url('../img/project_640.jpg');
			}
			&.eighth {
				background-image: url('../img/house_640.jpg');
				background-position: 60% 50%;
			}
			&::before {
				position: absolute;
				z-index: -1;
				width: 100%;
				height: 100%;
				background-color: rgba(255, 255, 255, 0.6);
				content: '';
			}
		}
		.icon-tabler {
			position: absolute;
			z-index: 10;
			right: 5px;
			top: 5px;
			opacity: 0;
			color: rgb(121, 121, 121);
			transition: 0.5s linear;
			&.invisible {
				opacity: 1;
			}
		}
	}

	span {
		position: absolute;
		top: 50%;
		right: 50%;
		z-index: 100;
		width: 100%;
		padding: 1em 0.5em;
		text-align: center;
		font-weight: bold;
		transform: translate(50%, -50%);
		transition: 0.5s linear;
	}

	&__list {
		position: absolute;
		display: flex;
		align-items: center;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 4;
		padding: 0.5em 2em;
		opacity: 0;
		border-radius: 10px;
		font-size: 1.3rem;
		line-height: 1.5em;
		background: linear-gradient(225.52deg, #5fb0fb 0.89%, #042352 100%), #ffffff;
		transform: rotateX(0deg);
		transition: 0.5s linear;

		ul {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 100%;
			color: $font-color2;
		}
	}
}

// PRICES

.prices {
	position: relative;
	z-index: 0;
	width: 100%;
	margin-top: 50px;
	color: $font-color2;
	background-image: url('../img/concrete_1920.jpg');
	background-size: cover;

	&::before {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		content: '';
	}
	h2 {
		z-index: 10;
		padding-top: 1em;
		margin-bottom: 0.5em;
	}
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: auto;
		align-items: center;
	}
}

.price-card {
	position: relative;
	display: flex;
	align-self: center;
	justify-content: space-around;
	z-index: 10;
	height: 350px;
	width: 250px;
	margin: 2em 2em;
	padding: 1em;
	flex-direction: column;
	border-radius: 10px;
	color: $font-color2;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.9);
	&:last-child {
		margin-bottom: 4em;
	}
	h3 {
		z-index: 10;
		font-size: 1.8rem;
		font-weight: normal;
		text-align: center;
	}
	&__list {
		font-size: 1.3rem;
		line-height: 1.4em;
		li {
			padding: 0.7em 0;
			text-align: center;
			&::marker {
				content: none;
			}
		}
	}
	&__cost {
		text-align: center;
		font-size: 1.8rem;
		font-weight: bold;
	}
}

.btn {
	position: absolute;
	bottom: 15%;
	left: 100px;
	z-index: 10;
	width: 300px;
	height: 80px;
	font-size: 1.5rem;
	font-weight: bold;
	color: $font-color2;
	background: $main-color;
	border: 4px solid $font-color2;
	border-radius: 50px;
	cursor: pointer;
	&:hover {
		color: $main-color;
		background-color: $font-color2;
		border: 4px solid $main-color;
	}
}

.contact {
	&__data {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		margin-bottom: 2em;
		font-size: 1.7rem;
		&-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			column-gap: 20px;
			padding: 1em;
			div {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 0.5em;
			}
		}
		i {
			margin-right: 0.5em;
			border-radius: 50%;
			color: $main-color;
		}
		span {
			color: $main-color;
			font-weight: bold;
		}
		a,
		p {
			color: $font-color;
			text-decoration: none;
			font-weight: bold;
		}
	}
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	box-shadow: 0px -4px 3px rgba(29, 92, 255, 0.5);
	font-size: 1.5rem;
}

@import './small';
@import './medium';
@import './large';
@import './non-standard';
